body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.9rem;
}
@media (max-width: 768px) {
  body,
  .btn,
  .aside {
    font-size: 1.2rem !important;
  }
}

.btn {
  padding: 4px 12px !important;
  color: white !important;
  font-size: 0.9rem;
}
.css-wjh20t-MuiPagination-ul {
  justify-content: center;
}
.css-nhb8h9 {
  justify-content: center;
}
.modal-content {
  border: unset !important;
}
.w-max-content {
  width: max-content;
}

.page-item.active .page-link {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
  color: white !important;
}
.page-link {
  color: #ffc107 !important;
}
.aside {
  background: #d3d3d34d;
  height: 100%;
  font-size: 0.9rem;
}
.popover-body {
  width: 220px;
}
.popover .popover-arrow::before {
  border-style: unset;
}
.form-control {
  font-size: 0.85rem;
}
.form-check {
  margin-bottom: unset !important;
}
.form-check-input:checked {
  background-color: #ffc107 !important;
  border-color: #ffc107 !important;
}

.form-check-input:focus {
  border-color: yellow !important;
}
.multi-range-slider {
  border: unset !important;
  box-shadow: unset !important;
  padding: 15px 5px;
}
.multi-range-slider .bar-inner {
  background-color: #ffc107 !important;
  box-shadow: unset !important;
}
